{% extends 'base.html.twig' %}
{% block body %}
    <div class="sides">
        <div class="pet_left">
            <img src="/animals/{{ zwierzak['zdjecie']}}" alt="zdjecie" height="400" width="400"/>
        </div>
        <div class="pet_right">
            <p>Imię: {{ zwierzak['imie'] }}</p>
            <p>Numer: {{ zwierzak['numer'] }}</p>
            <p>Data urodzenia: {{ zwierzak['data_urodzenia']}} </p>
            <p>
                {% if zwierzak['stan'] == 'adoptowany' %}
                    Zwierzak został adoptowany {{ zwierzak['data_ad'] }}.
                {% elseif zwierzak['stan']  == 'zmarł' %}
                    Zwierzak odszedł {{ zwierzak['data_zm'] }}.
                {% elseif zwierzak['stan'] == 'dostępny' %}
                   Zwierzak jest do adopcji.
                {% else %}
                    Zwierzak będzie do adopcji po zakończonym leczeniu.
                {% endif %}
            </p>
        </div>
    </div>
    <div>
        <p>{{ zwierzak['opis'] }}</p>
    </div>

    <div>
        {% if zdjecia is defined %}
            {% for zd in zdjecia %}
                <div>
                    <img src="/animals_more/{{ zd['zdjecie'] }}" alt="zdjecie" height="200px" width="200px" />
                    <a href="{{ path('usun_zdjecie', {'id': zd['id']}) }}">USUŃ</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div>
        {% if dodatkowe is defined %}
            {% for dod in dodatkowe %}
                <div>
                    <p>{{ dod['data_n'] }}</p>
                    {% if dod['tytul'] %}
                        <h6>{{ dod['tytul'] }}</h6>
                    {% endif %}
                    <p> {{ dod['opis'] }}</p>
                    <a href="{{ path('edycja_wpisu', {'id': dod['id']}) }}">EDYTUJ</a>
                    <a href="{{ path('usuwanie_newsow', {'id': dod['id']}) }}">USUŃ</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div>
        {% if zwierzak['stan'] == 'adoptowany' %}
            <a style="color: #28a4c9" href="{{ path('wyswietl_zaadoptowane') }}">WSTECZ</a>
        {% elseif zwierzak['stan'] == 'zmarł' %}
            <a style="color: #28a4c9" href="{{ path('wyswietl_zmarle') }}">WSTECZ</a>
        {% else %}
            <a style="color: #28a4c9" href="{{ path('wyswietl_zwierzaki') }}">WSTECZ</a>
        {% endif %}

        <a style="color: #99cb84" href="{{ path('edycja_zwierzaka', {'id': zwierzak['id'] }) }}">EDYTUJ</a>
        <a style="color: blueviolet" href="{{ path('usuniecie_zwierzaka', {'id': zwierzak['id'] }) }}">USUŃ</a>
        <a style="color: #e25ade" href="{{ path('dodawanie_wpisu', {'id': zwierzak['id'] }) }}">DODATKOWE INFORMACJE</a>
        <a style="color: #e2bc2e" href="{{ path('dodaj_zdjecia', {'id': zwierzak['id'] }) }}">ZDJĘCIA</a>
        <a style="color: lightgreen" href="{{ path('usuniecie_zwierzaka', {'id': zwierzak['id'] }) }}">DODAJ DŁUG</a>

    </div>
{% endblock %}