{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div>
        {{ form_row(form.zdjecie) }}
    </div>
     <div>
         {{ form_row(form.dodaj) }}
         <div class="btn-fav back">
             <a href="{{ path('wyswietl_zwierzaka', {'id': id})  }}">ANULUJ</a>
         </div>
     </div>

    {{ form_end(form) }}
{% endblock %}