{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
		<div>
			{{ form_label(form.stareHaslo, null, {'label_attr': {'class': 'form-base'}}) }}
			{{ form_widget(form.stareHaslo, {'attr': {'class': 'form-base form-input'}}) }}
		</div>
		<div>
			{{ form_label(form.hasloUzytkownika["first"], null, {'label_attr': {'class': 'form-base'}}) }}
			{{ form_widget(form.hasloUzytkownika["first"], {'attr': {'class': 'form-base form-input'}}) }}
		</div>
        <div>
			{{ form_label(form.hasloUzytkownika["second"], null, {'label_attr': {'class': 'form-base'}}) }}
			{{ form_widget(form.hasloUzytkownika["second"], {'attr': {'class': 'form-base form-input'}}) }}
        </div>
		<p>Hasło musi zawierać minimum 5 znaków.</p>
        <div>
            {{ form_row(form.akceptuj) }}
		<div class="btn-fav back">
            <a href="{{ path('account') }}">ANULUJ</a>
		</div>
        </div>
    {{ form_end(form) }}
{% endblock %}